{% extends 'base.html' %}
{% load static %}

{% block titulo %}Dashboard{% endblock %}

{% block conteudo %}
<h1 class="m-3">Olá {{ user.first_name }} {{ user.last_name }}</h1>

<div class="container">
    <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <table class="table">
            {{ form }}
            <tr>
                <td>
                    <button type="submit" class="btn btn-primary">Enviar</button>
                </td>
            </tr>
        </table>
    </form>
</div>
{% endblock %}