{% extends 'base.html' %}
{% load static %}

{% block titulo %}{{ user.first_name }} {{ user.last_name }}{% endblock %}

{% block conteudo %}
<h1 class="mt-5">{{ contato.nome }} {{ contato.sobrenome }}</h1>

{% if contato.foto %}
<p>
    <img class="img-thumbnail" src="{{ contato.foto.url }}" width="128">
</p>
{% endif %}

<dl>
    <dt>ID</dt>
    <dd>{{ contato.id|safe }}</dd>

    <dt>{{ contato.nome }}</dt>
    <dd></dd>

    <dt>E-mail</dt>
    <dd>{{ contato.email }}</dd>

    <dt>Data criação</dt>
    <dd>{{ contato.data_criacao|date:'d/m/Y H:i:s' }}</dd>

    <dt>Categoria</dt>
    <dd>{{ contato.categoria }}</dd>

    <dt>Descrição</dt>
    <dd>
        {{ contato.descricao|safe }}
    </dd>
</dl>
{% endblock %}