{% extends 'base.html' %}
{% load static %}

{% block conteudo %}
<h1 class="mt-5">Minha agenda</h1>

<br>

<form method="get" action="{% url 'busca' %}">
    <div class="form-group row">
        <div class="col-12">
            <input
                class="form-control"
                type="search"
                value="{{ request.GET.termo }}"
                id="search-input"
                placeholder="Digite sua pesquisa"
                name="termo"
            />
        </div>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>id</th>
            <th>Nome</th>
            <th>Sobrenome</th>
            <th>Telefone</th>
            <th>Categoria</th>
        </tr>
    </thead>
    <tbody>

        
    {% for contato in contatos %}
        {% if contato.exibir %}
        <tr>
            <td>{{ contato.id|safe }}</td>
            <td>
                <a href="{% url 'contato' contato.id %}">{{ contato.nome }}</a>
            </td>
            <td>{{ contato.sobrenome }}</td>
            <td>{{ contato.telefone }}</td>
            <td>{{ contato.categoria }}</td>
        </tr>
        {% endif %}
    {% endfor %}
    
    </tbody>
</table>

<nav aria-label="Page navigation example">
    <ul class="pagination">
        {% for pagina in contatos.paginator.page_range %}
            <li class="page-item {% if contatos.number == pagina %}active{% endif %}">
                <a class="page-link" href="?page={{ pagina }}&termo={{ request.GET.termo }}">{{ pagina }}</a>
            </li>
        {% endfor %}
    </ul>
</nav>
{% endblock %}
